.SearchBar {
  .SearchBaru {
    background-color: #21243d;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    margin: 30px;
    width: 900px;
    color: white;
    font-weight: bold;
  }
}
