.serviceComp {
  border-color: black;
  box-shadow: 1px 1px 6px gray;
  width: 200px;
  cursor: pointer;

  .imgBG {
    background-image: linear-gradient(#fe346e, #ad0032);
    border: solid #e3e3e3 2px;
    .img {
      width: 100px;
      height: 100px;
      margin-left: 50px;
      padding: 0px 10px;
    }
  }
  .ServieLabel {
    font-family: "Montserrat";
    font-size: 0.7rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
}
